PORT=5000
PUBLICKEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzQQNnQolPkciswNtiL2sZC7VPgscZuN1UQt2hOAtwAWKLldWdFvSi3fWjvVEvYD9brxXuJ26zM0MBEwxo6VH2BMjRW8s3et6xSrhAEq3V+ubUOmG3ZUZpeSyFrwOdUFhAoiv7jehrBBJBCLZCV+Evm0FynxxP5mkIpMEMcOrj3idQWVZyStELe9bJrQRxWDuq2eRuQ5IzrF2v1eyLPjZ51G8mIOhuil5qeHBZNeKG9eNPpJosJD2cCepxXlv91LyikZaN3vaiTdOEKFlNp59fUtK+2BdMp0gLudO8OwdmH+d0XMnqe5VmKXIhym5DA8vuM1K07PlUBp7PqD2LYKJ3QIDAQAB